{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<main id="main">

    <small>Please enter your list of emails here:</small>

    <div class="form-group">
        <textarea 
            type="text" 
            class="form-control" 
            id="textarea" 
            rows="10"></textarea>
    </div>

    <button 
        type="submit" 
        class="btn btn-primary"
        onclick="count_unique_emails();">
        Count Emails
    </button>

    <div class="count">
        <div id="result"></div>
    </div>

</main>

{% endblock content %}

{% block script %}

<script>

    function count_unique_emails() {
        let input = document.getElementById("textarea");

        let entry = {
            input: input.value
        }

        fetch(`${window.origin}/result`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        })
        .then(function (response) {
            if (response.status !== 200) {
                console.log(`Response: ${response.status}`);
                return;
            } 

            response.json().then(function (res) {
                document.getElementById("result").innerHTML = `${res}`
            });
        })
        input = '';
    }

</script>

{% endblock %}